@use '../../assets/variables' as *;

.home {
  height: 90vh;
  background: linear-gradient(180deg, #181818 75%, #5d01d6 100%);

  &__headingContainer {
    position: absolute;
    width: 30%;
    bottom: 0.5%;
    left: 65%;
  }

  &__heading1 {
    font-size: 4.5em;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    font-family: $font-headings;
    color: $heading-color;
    margin-top: 0%;
  }
  &__heading2 {
    font-family: $font-headings;
    color: $heading-color;
    font-size: 4.5em;
    display: flex;
    align-items: center;
    margin-left: 25%;
  }
}
