@use '../../assets/variables' as *;

.home {
  height: 70vh;

  &__footer {
    height: 30vh;
    background: linear-gradient(
      180deg,
      rgba(98, 3, 250, 0.164) 0%,
      #0d0122 100%
    );
    color: white;
  }
  &__footer-heading {
    font-size: 4.5em;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 50px;
  }
  &__footer-heading2 {
    font-family: $font-headings;
    color: $heading-color;
    font-size: 4.5em;
    display: flex;
    align-items: center;
    padding-left: 8%;
  }
}
