@import url('https://fonts.googleapis.com/css2?family=Risque&family=Roboto&display=swap');

$font-headings: 'Risque', serif;
$font-texts: 'Roboto', sans-serif;
$button-color: #393939;
$button-text-color: #7102ff;
$heading-color: #ffffff;
$font-color: #e4d0fe;
$background-image: url(../assets/images/portfolio-background.jpg);
$banner-image: url(../assets/images/portfolio-banner-bats.jpg);
$project-placeholder-img: url(../assets/images/coming-soon-img.jpg);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
