@import url('https://fonts.googleapis.com/css2?family=Risque&family=Roboto&display=swap');

$font-headings: 'Risque', serif;
$font-texts: 'Roboto', sans-serif;
$main-color: #181818f6;
$secondary-color: #eadcfd;
$tertiary-color: #5d01d6;
$heading-color: #ffffff;
$background-image: url(../assets/images/portfolio-background.jpg);
$banner-image: url(../assets/images/portfolio-banner-bats.jpg);
$project-placeholder-img: url(../assets/images/coming-soon-img.jpg);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media only screen and (max-width: 620px) {
    body {
      width: 100%;
    }
    .contact-a-div {
      display: grid;
      grid-template-columns: 1f;
    }
    .contact-a {
      width: 100px;
      height: 100%;
    }
  }
}
